.movies-list {
    &__list {
        padding: 0;
        list-style: none;
    }
    &__item {
        margin-bottom: 20px;
        cursor: pointer;
        & img {
            border-radius: 10px;
        }
    }
}